doctype html
html
  head
    title= "Sample Website"
    //meta(http-equiv="Content-Security-Policy" content="default-src *;img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *")
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico')
    link(rel='canonical' href='https://getbootstrap.com/docs/4.0/examples/cover/')
    // Bootstrap core CSS
    link(href='/bootstrap.min.css' rel='stylesheet')
    // Custom styles for this template
    link(href='/cover.css' rel='stylesheet')
  body
    block content
